[hub]
  protocol = https
[user]
  name = Ramon Garcia-Perez
  email = ramgarcia@outlook.com
[github]
  user = ramgp
[url "https://bitbucket.org/"]
  insteadOf = bb:
[url "https://github.com/"]
  insteadOf = gh:
[url "https://gist.github.com/"]
  insteadOf = gist:
[push]
  default = current
  followTags = true
[core]
  pager = delta
  trustctime = false
  autocrlf = input
  filemode = false
  excludesfile = ~/.gitignore_global
	abbrev = 8
[color]
  ui = true
  branch = auto
  diff = auto
  status = auto
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[merge]
  tool = vimdiff
[mergetool]
  keepTemporaries = false
  keepBackup = false
  prompt = false
  trustExitCode = false
[difftool]
  prompt = false
[interactive]
  diffFilter = delta --color-only
[delta]
  diff-so-fancy = true
  features = Catppuccin-mocha
  line-numbers = true
  navigate = true    # use n and N to move between diff sections
  light = false
  line-numbers-minus-style = red
  line-numbers-plus-style = green
  line-numbers-zero-style = black
[diff]
  colorMoved = default
[alias]
  last = log -1 --stat
  a = add
  cam = commit -am
  can = commit -an
  cm = commit -m
  st = status
  s = status
  c = checkout
  co = checkout
  pu = push -u
  dft = difftool
  mgt = mergetool
  ma = merge --abort
  mc = merge --continue
  cp = cherry-pick
  cl = clone
  ld = log -p
  lol = log --graph --decorate --oneline
  lola = log --graph --decorate --oneline --all
  br = branch
  bc = switch -c
  bs = switch
  df = diff
  ds = diff --staged
  hp = stash pop
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
  lh = rev-parse --short HEAD
  noff = merge --no-ff
  plr = pull --rebase
  amend = commit --amend
  wip = commit --no-verify -am "WIP"
  rn = branch -m

  # Get changes for a single commit
  dfc = "!dfc() { git df $1^ $1; }; dfc"

  # http://gggritso.com/human-git-aliases
  unstage = reset -q HEAD --
  discard = checkout --
  uncommit = reset --mixed HEAD~

  l = log --graph --decorate --oneline --abbrev-commit --all
  h = log --graph --decorate --oneline --abbrev-commit

  issues = !hub browse -- issues
  url = "!f() { sha=$(git rev-parse ${1:-HEAD}); hub browse -u -- commit/$sha; }; f"

  remote-branches = "!f() { git ls-remote --heads ${1:origin} | sed 's?.*refs/heads/??'; }; f "

  lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
  wa = worktree add

  # Abort all local changes that have been made (but not yet committed)
  clr  = "!f() { git reset --hard && git clean -f -d; }; f"

  # https://www.reddit.com/r/git/comments/ulpmd0/gitignore_template_generator/
  ignore = '!gi() { IFS=","; curl -L -s "https://www.toptal.com/developers/gitignore/api/$*" | tee .gitignore;}; gi'
